$font-family-base: Tahoma, sans-serif;
$color-green: #096201;
$color-gray: #F0F0F0;
$color-white: #ffffff;
$color-black: #000000;
$text-color-black: #000000;
/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    color: $color-black;
    cursor: pointer;
    width: 100%;
    text-align: left;
    border: none;
    transition: 0.4s;
    padding: 20px 0;
    border-top: 1px solid $color-green;
    border-bottom: 1px solid $color-green;
    font-size: 20px;
    font-family: Tahoma, sans-serif;
    border-radius: 0px;
    margin-bottom: -1px;
    padding-bottom: 0px; }
  .accordion-header {
    font-size: 20px;
  }
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .accordion:hover {
    border: none;
    border-top: 1px solid $color-green;
    border-radius: 0px;
    margin-bottom:-1px;
    padding-bottom: 0px;
 }
  
  .accActive {
    border-bottom: none; }
  
  .accordion-caret {
    transform: translateY(-100%) rotate(180deg);
    vertical-align: middle; 
    }
  .accActive .accordion-caret {
      transform: translate(98%,-100%) rotate(0deg);
      vertical-align: middle; 
    }
    
  .accordion-caret img {
    width: 20px; }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    border: none;
    padding-bottom: 10px; }
  
  /*# sourceMappingURL=accordion.css.map */
  @media screen and(max-width: 767px) {
    .accordion-caret {
        transform: translateY(-100%) rotate(180deg);
        vertical-align: middle; 
        }
      .accActive .accordion-caret {
          transform: translate(93%,-100%) rotate(0deg);
          vertical-align: middle; 
        }
  }  