/* VARIABLES */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(0%); }
  100% {
    transform: translateX(-100%);
    position: fixed;
    z-index: -5;
    visibility: hidden; } }
.active {
  color: #096201 !important;
  text-decoration: underline !important; }

.hidden {
  display: none; }

.animation {
  animation-name: slideInFromLeft;
  animation-fill-mode: forwards;
  animation-duration: 4s;
  animation-iteration-count: 1;
  animation-timing-function: linear;
  position: absolute;
  z-index: 1000;
  width: 2400px;
  padding-left: 1600px;
  height: 1200px;
  padding-top: 100px;
  padding-bottom: 500px;
  background-color: white; }

body {
  font-family: Tahoma, sans-serif;
  color: #000000;
  font-size: 16px;
  line-height: 24px;
  overflow-x: hidden; }

body.is-scroll-disabled {
  overflow-y: scroll;
  position: fixed;
  width: 100%; }

input:focus {
  box-shadow: none !important;
  border-color: #096201 !important; }

/* TYPOGRAPHY */
h1 {
  font-size: 40px;
  font-weight: 700; }

h2 {
  font-size: 30px;
  font-weight: 700; }

h3 {
  font-size: 26px;
  font-weight: bold; }

h4 {
  font-size: 26px;
  font-weight: bold; }

h5 {
  font-size: 26px; }

p {
  font-size: 18px; }

label {
  font-size: 18px; }

a {
  color: #000000; }
  a:hover {
    text-decoration: none; }

ul,
ol {
  list-style-type: none; }

hr {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  border-width: 1px;
  border-color: #096201; }

/* HEADER */
.header {
  position: sticky;
  top: 0;
  background: #F0F0F0;
  z-index: 12;
  filter: drop-shadow(4px 0px 4px #000000); }

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 20px 50px; }

.header__burger {
  height: 20px; }

.header__burger-mobile {
  display: none;
  position: relative;
  width: 26px;
  height: 20px; }

.header__burger-line {
  width: 2px;
  height: 100%;
  background: #000000; }

.header__logo {
  height: 40px;
  margin-bottom: 10px; }

.header__logo-image {
  width: 80px;
  height: auto; }

.header__navigation {
  display: flex;
  align-items: center;
  font-size: 18px; }

.header__navigation-nav-link {
  display: inline-block;
  margin-right: 24px;
  transition: color .2s ease-in-out; }
  .header__navigation-nav-link:last-child {
    margin-right: 0; }
  .header__navigation-nav-link:hover {
    color: #096201; }

.header__navigation-nav-link-active {
  display: inline-block;
  margin-right: 24px;
  color: #096201;
  text-decoration: underline;
  transition: color .2s ease-in-out; }
  .header__navigation-nav-link-active:last-child {
    margin-right: 0; }
  .header__navigation-nav-link-active:hover {
    color: #096201; }

/* HERO */
.hero {
  width: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  overflow: hidden;
  filter: drop-shadow(4px 0px 4px #000000); }

.hero__image {
  width: 100%;
  height: 200px;
  border-radius: 0px 0px 25px 25px;
  object-fit: cover; }

.hero__desktop {
  display: block; }

.hero__mobile {
  display: none; }

.section {
  width: 100%; }

.hero__text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white; }
  .hero--small .hero__text {
    max-width: 700px;
    margin: 0 auto; }

.clickable-div {
  cursor: pointer; }

/* SECTION */
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto; }

.pagination {
  display: inline-block;
  text-align: center; }

.section__project-pagination {
  text-align: center;
  margin-top: 20px; }

.pagination button {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none; }

.carousel-item-img {
  filter: drop-shadow(0px 1px 2px #000000);
  border-radius: 25px; }

.section__management-img {
  border-radius: 25px;
  width: 300px;
  height: 300px; }

.pagination button.activeBtn {
  background-color: #096201;
  color: #ffffff;
  border-radius: 5px; }

.pagination button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666; }

.pagination button:hover:not(.active) {
  background-color: #F0F0F0;
  border-radius: 5px; }

.section {
  position: relative;
  padding-top: 80px;
  padding-bottom: 60px; }

.section__gallery {
  display: flex;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  overflow: hidden; }

.section__gallery-frame {
  margin-right: 20px; }
  .section__gallery-frame:last-child {
    margin-right: 0; }

.section__buttons {
  margin-top: 50px;
  margin-bottom: 50px; }

.section__image {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  filter: drop-shadow(0px 1px 2px #000000);
  border-radius: 25px; }

.section__heading-icon {
  width: 50px;
  height: auto; }

.form-group-container {
  margin-top: 20px; }

.materials-image {
  filter: drop-shadow(0px 1px 2px #000000);
  border-radius: 25px;
  height: 300px;
  width: 300px; }

.section__container {
  text-align: justify; }

.section__materials {
  display: flex;
  justify-content: space-around; }

.section__management {
  display: flex;
  justify-content: space-between; }

.section__management-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  width: 50%;
  margin-right: 30px; }

.section__management-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: justify;
  width: 50%; }

.section--gray {
  background: #F0F0F0; }

.section__suppliers-border {
  background-color: white;
  border: 2px solid green;
  border-radius: 5px;
  padding: 10px; }

.section__suppliers {
  display: flex;
  justify-content: space-between;
  align-items: center; }

.section__heading {
  padding-bottom: 40px;
  text-align: center; }
  .section--steps .section__heading {
    max-width: 760px;
    margin: 0 auto; }
  .section--steps-form .section__heading {
    padding-bottom: 14px; }

.section__heading-description {
  padding-top: 20px; }

.section__post {
  padding-bottom: 40px; }

.flex--section {
  display: flex;
  justify-content: space-between; }

.section__quote-img {
  width: 80px;
  height: auto; }

.section__quote {
  text-align: center; }

.section__partners {
  display: flex;
  flex-direction: column;
  text-align: center; }

.section__partners-img {
  width: 10rem;
  height: auto;
  margin-bottom: 20px; }
  .section__partners-img:last-child {
    margin-bottom: 0px; }

.project-image {
  width: 100%;
  height: auto;
  border-radius: 25px;
  filter: drop-shadow(0px 1px 2px #000000);
  padding-top: 10px;
  padding-bottom: 20px; }

.delete-button {
  font-size: 20px;
  font-weight: 700;
  border: red 1px solid;
  width: 100px;
  text-align: center;
  cursor: pointer;
  color: red;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 40px; }

.edit-button {
  font-size: 20px;
  font-weight: 700;
  border: orange 1px solid;
  width: 100px;
  text-align: center;
  cursor: pointer;
  color: orange;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
  margin-bottom: 40px; }

.input-field {
  border: none;
  border-bottom: 1px solid green; }

.contacts-input-field {
  border: none;
  border-bottom: 1px solid green; }
  .contacts-input-field:active {
    border: none;
    border-bottom: 1px solid green; }

.input-field-gray {
  border: none;
  border-bottom: 1px solid green;
  background-color: #F0F0F0; }

.section__materials-choices {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }

.section__materials-chosen {
  text-align: center; }

.materialsCont {
  padding-top: 30px;
  width: 300px;
  text-align: center; }

/* BUTTON */
.button,
button {
  -webkit-appearance: none;
  padding: 6px 12px;
  background: none;
  border: none;
  font-weight: 700;
  color: #096201;
  border: 1px solid #096201;
  border-radius: 5px;
  transition: all .2s ease-in-out; }
  .button:focus,
  button:focus {
    outline: none; }
  .button:hover,
  button:hover {
    color: #096201;
    border: 1px solid #096201; }

.button--large {
  padding: 14px 60px; }

.button--green {
  background-color: #096201;
  color: #ffffff; }

.contact__send-btn {
  padding-right: 40px;
  padding-left: 40px; }

.form-group-contacts {
  margin-top: 20px; }

.section-map-image {
  width: 100%;
  height: auto;
  filter: drop-shadow(0px 1px 2px #000000);
  border-radius: 25px; }

.materials-button {
  font-size: 18px;
  color: #000000;
  border: none; }
  .materials-button:hover {
    color: #096201;
    border: none; }

/* MEDIA */
@media screen and (max-width: 767px) {
  .hero {
    height: auto !important; }

  .hero__carousel {
    height: auto !important; }

  .button--green {
    background: #096201;
    color: #ffffff; }
    .button--green:hover {
      background: #096201;
      color: #ffffff; }

  .section__gallery {
    display: block; }

  .section__gallery-frame {
    margin-bottom: 20px;
    margin-right: auto;
    margin-left: auto; }
    .section__gallery-frame:last-child {
      margin-bottom: 0px; } }
/* FOOTER */
.footer {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #F0F0F0; }

.footer__logo-image {
  width: 100px;
  height: auto; }

.footer__top {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.footer__bottom {
  text-align: center; }

.footer__links {
  list-style-type: none;
  margin-bottom: 0; }

.footer__links-item {
  display: inline-block;
  margin-right: 24px; }
  .footer__links-item:last-child {
    margin-right: 0; }

.footer__contact-socials-icon {
  width: 20px;
  height: 20px; }

.footer__links-item-link {
  font-weight: 700;
  transition: color .2s ease-in-out; }
  .footer__links-item-link:hover {
    color: #096201; }

.footer__separator {
  margin: 5px 0;
  width: 100%;
  height: 1px;
  background: #F0F0F0; }

.footer__contact-socials {
  text-align: right;
  margin-bottom: 10px; }

.footer__copy {
  margin-bottom: 0;
  color: #000000;
  text-align: end; }

.zoom-img {
  transform: scale(1.5); }

.footer__contact-phone {
  text-align: right;
  margin-bottom: 10px; }

.footer__contact-phone-icon {
  width: 20px;
  height: auto; }

.footer__contact-phone-number {
  margin-bottom: 0;
  padding-left: 10px;
  color: #000000;
  float: right; }

.footer__contact-socials {
  margin-top: -2px; }

.footer__contact-socials-link {
  margin-right: 14px; }
  .footer__contact-socials-link:last-child {
    margin-right: 0; }

.accordions .row > * {
  margin-bottom: -1px; }

.accordion__card {
  padding: 20px 0;
  border-top: 1px solid #096201;
  border-bottom: 1px solid #096201; }
  .section--support .accordion__card {
    margin-bottom: -1px; }

.accordion__card-body {
  padding-top: 16px;
  margin-bottom: 40px; }

.accordion__button {
  position: relative;
  padding: 0;
  width: 100%;
  color: #000000;
  font-size: 20px;
  text-align: left;
  border: 0; }
  .accordion__button:focus {
    outline: none; }
  .accordion__button:hover {
    border: 0; }

.accordion__button-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  transition: transform .3s ease-in-out; }
  .accordion__button-icon img {
    width: 14px; }
  .accordion__button.collapsed .accordion__button-icon {
    transform: translateY(-50%) rotate(0); }

.accordion__card-pictures {
  display: flex;
  justify-content: space-between; }

.accordion__card-pictures-image {
  filter: drop-shadow(0px 1px 2px #000000);
  border-radius: 25px;
  width: 300px;
  height: 300px; }

@media screen and (max-width: 1024px) {
  .zoom-img {
    transform: scale(1); }

  .section__management-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    width: 50%;
    margin-right: 0px; }

  .contacttext {
    text-align: center; }

  .accordion__card-pictures-image {
    filter: drop-shadow(0px 1px 2px #000000);
    border-radius: 25px;
    width: 300px;
    height: 300px; }

  .delete-button {
    margin: auto;
    margin-bottom: 30px; }

  .edit-button {
    margin: auto;
    margin-bottom: 30px; }

  .footer__logo-image {
    display: none; }

  .section__materials {
    display: inline-block;
    text-align: center; }

  .accordion__card-pictures {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .accordion__card-pictures-image {
    margin-bottom: 20px; }
    .accordion__card-pictures-image:last-child {
      margin-bottom: 0px; }

  .animation {
    display: none; }

  .header__container {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #F0F0F0;
    filter: none; }

  .footer__top,
  .footer__bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column; }

  .footer__contact-phone {
    text-align: center; }

  .footer__contact-phone-number {
    margin-bottom: 0px;
    color: #000000;
    text-align: center;
    display: contents; }

  .footer__contact-socials {
    text-align: center;
    margin-bottom: 20px; }

  .footer__logo-image {
    margin-bottom: 30px; }

  .header__logo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center; }

  .header__logo-image {
    width: 80px;
    height: auto; }

  .header__burger-mobile {
    display: block; }

  .header__burger-line {
    position: absolute;
    height: 3px;
    width: 100%;
    background: #000000;
    transition: all .2s ease-in-out; }

  .header__burger-line--top {
    top: 0; }
    .header.is-open .header__burger-line--top {
      top: 50%;
      transform: rotate(45deg); }

  .section__suppliers {
    display: inline-block;
    align-items: center; }

  .section__suppliers-border {
    text-align: center; }

  .header__burger-line--middle {
    top: 50%;
    transform: translateY(-50%); }
    .header.is-open .header__burger-line--middle {
      opacity: 0; }

  .header__burger-line--bottom {
    top: 85%; }
    .header.is-open .header__burger-line--bottom {
      top: 50%;
      transform: rotate(-45deg); }

  .header__navigation {
    flex-direction: column;
    position: fixed;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 12;
    background: #F0F0F0;
    transform: translate3d(-2000px, 0, 0);
    transition: transform .3s ease-in-out; }
    .header.is-open .header__navigation {
      transform: translate3d(0, 0, 0); }

  .header__navigation-nav {
    order: 0;
    padding-bottom: 20px;
    background: #F0F0F0;
    width: 100%; }

  .header__navigation-nav-link {
    display: block;
    margin-right: 0;
    text-align: center;
    margin-bottom: 10px; }
    .header__navigation-nav-link:last-child {
      margin-bottom: 0; }

  .flex--section {
    flex-direction: column; }

  .section__partners {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%; }

  .section__management {
    display: flex;
    flex-direction: column;
    align-items: center; }

  .section__container {
    text-align: justify; } }

/*# sourceMappingURL=main.css.map */
